p{
  font-size:150px;
  font-family:"kari-display-pro",sans-serif;
  font-weight:400;
  color:#A084BD


}


.text{
  font-size:22px;
  font-family:"Georgia",serif;
  font-weight:200;
  padding-top:300px;
  padding-bottom:300px;
  text-align:left;
  text-overflow:inherit;
  float:none;
max-width:900px;
}
b{
  font-size:20px;
font-family:"Open Sans Condensed",sans-serif;
font-weight:200;


}



.box-shadow-menu {
  position: relative;
  padding-left: 0;
  padding:0;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;

  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.border-menu {
  position: relative;
  padding-left:0;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0 double #000;
  border-bottom: 0 solid #000;
}

.svg-menu img {
  width: 1.25em;
}

.gradient-menu {
  padding-left: 1.25em;
  position: relative;
}
.gradient-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.21em;
  bottom: 0.21em;
  width: 1em;
  background: linear-gradient(
    top,
    black, black 20%,
    white 20%, white 40%,
    black 40%, black 60%,
    white 60%, white 80%,
    black 80%, black 100%
  );
}

header{
  margin:inherit;
  padding-top:0;
}
body {
  padding: 40px 100px 400px 100px;
  font: bold 20px Sans-Serif;
  padding:none;
  margin-top:auto;
}

button {
  font-size: 16px;
}


.PostInfo{
  font-size:20px;
  font-family:"Georgia",serif;
  font-weight:lighter;
  text-align:left;
  padding-bottom:30px;

}

.Column1{
  column-count:1;
  column-fill:auto;
  float:left;
   width: 33.33%;
  font-family:"Oswald",sans-serif;
  text-align:center;

}

.Column2{
  column-count:1;
  column-fill:auto;
  float:left;
   width: 33.33%;
    font-family:"Oswald",sans-serif;
text-align:center;
}
.Column1 img,.column2 img,.Column3 img{
width:100%;
height:auto;

}

.Column3{

column-count:1;
column-fill:auto;
column-gap:normal;
display:block;
float:left;
   width: 33.33%;
   font-family:"Oswald",sans-serif;
   text-align:center;

}

.FeaturedContent{

  font-family:"Abril Fatface",serif;
  text-align:center;
  float:left;
  
}


.Caption{
font-size:30px:
font-family:"Oswald",sans-serif;
  text-align:justify;
}
.IntroText{

  font-size:25px;
  tex-align:left;
  font-family:"Abril Fatface",serif;
  font-weight:200px;
  padding-bottom:15px;
  border-bottom-width: thin;

  text-decoration-style:solid;
  text-decoration-color:#A084BD;
  border-bottom-width:2px;
}

.page-content {
  max-width:810px;
  margin:0 auto;
  padding-bottom:0;
}
h1{

  font-size:40px;
  font-family:"Abril Fatface",cursive;
font-weight:lighter;
text-align:left;
margin:0px;
padding-top: 30px;

}
#header h1{margin:0;}

h2{

  font-family:"Open Sans Condensed";
  font-weight:900;
  font-weight:bolder;
font-size:50px;
  padding-top:200px;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:#A084BD;
  border-bottom-width:5px;


}

ul{


  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#A084BD;
  text-align:center;
  border-style:none;
  font-family:"Balto";
}

li{
  display:inline;
  font-size:30px;
  font-family:"Open Sans Condensed",sans-serif;
  font-weight:"Lighter";
  text-align:center;
  text-decoration-color:white;
  float:none;
  position:inherit;
  margin:0;
  padding:0;
}

.sidebar {
  width:500;
  float:right;
  text-align:right;
  padding: 10 0px;
  border:1px;
  position:absolute;
  font-size:20px;
  height:700;

}


.floating-div {
  background-color:#A084BD;
  padding: 20px 50px;
  color:#EEE;
  font-size: 20px;
  margin-top:0px;
  margin-left:0px;
  maargin-right:0px;
  float:right;
  font-family:"Open Sans Condensed",sans-serif;

  }


    .page {
  width: 900px;
  margin: 0 auto;
}
